<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.example.carmaintenance">

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_logo"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_logo"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".MaintenanceEditorActivity"
			android:parentActivityName=".MainActivity">
			<!-- Parent activity meta-data to support 4.0 and lower -->
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity" />
		</activity>
		<activity
			android:name=".OdometerEditorActivity"
			android:label="@string/odometer"
			android:parentActivityName=".MainActivity">
			<!-- Parent activity meta-data to support 4.0 and lower -->
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity" />
		</activity>
		<activity
			android:name=".VehicleTemplateActivity"
			android:label="@string/vehicle_template"
			android:parentActivityName=".MainActivity">
			<!-- Parent activity meta-data to support 4.0 and lower -->
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity" />
		</activity>
		<activity
			android:name=".VehicleEditorActivity"
			android:parentActivityName=".MainActivity">
			<!-- Parent activity meta-data to support 4.0 and lower -->
			<meta-data
				android:name="android.support.PARENT_ACTIVITY"
				android:value=".MainActivity" />
		</activity>
		<activity android:name=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<provider
			android:name=".data.VehicleMaintenanceProvider"
			android:authorities="com.example.carmaintenance"
			android:exported="false" />
	</application>

</manifest>